<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Empleados con Mayor Salario</title>
</head>
<body>
<div class="container">
    <h1>Empleados con Mayor Salario en la Empresa</h1>
    <!-- COMPLETAR -->
    <form class="input-group mb-lg-3" method="post" th:action="@{busquedaSalario}">
        <input name="searchField" class="form-control mb-3" type="number" placeholder="Buscar por Salario" th:text="${searchField}"/>
        <div class="input-group-append">
            <button class="btn btn-outline-primary" type="submit" >Buscar</button>
            <a class="btn btn-outline-danger ml-2" th:href="@{Salario}">Limpiar</a>
            <a class="btn btn-outline-primary ml-2" th:href="@{/}">Regresar</a>
        </div>

    </form>
    <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fecha de Inicio</th>
                <th>Fecha de Fin</th>
                <th>Puesto</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="usuario : ${listaUsuariosSalario}">

                <td th:text="${usuario.first_name}"></td>
                <td th:text="${usuario.last_name}"></td>
                <td th:text="${usuario.getStart_date()}"></td>
                <td th:text="${usuario.getEnd_date()}"></td>
                <td th:text="${usuario.getJob_title()}"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>