<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/navbar.html :: header( title = 'Empleados')"></head>
    <body>
        <div class="container">
            <nav th:replace="fragments/navbar.html :: navbar( active = 'Employee')"></nav>
            <div class="row mb-4">
                <div class="col-md-6 offset-md-3">
                    <h2 th:text="${employee.getEmployeeId() == 0? 'Nuevo Empleado' : 'Editar Empleado'}"></h2>
                    <hr/>
                    <form method="post" th:action="@{'/employee/save'}" th:object="${employee}">
                        <div class="mb-3">
                            <label class="form-label">Nombre</label>
                            <input type="text" class="form-control" th:field="*{firstName}"/>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Apellido</label>
                            <input type="text" class="form-control" th:field="*{lastName}"/>
                        </div>
                        <div class="mb-3">
                            <label  class="form-label">Correo</label>
                            <input type="text" class="form-control" th:field="*{email}"/>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Contraseña</label>
                            <input type="text" class="form-control" th:field="*{password}"/>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Cargo</label>
                            <select class="form-select" th:field="*{job}">
                                <option th:each="job : ${listaJobs}"
                                        th:text="|${job.getJobtitle()} |"
                                        th:value="${job.getJobid()}"></option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label  class="form-label">Sueldo</label>
                            <input type="text" class="form-control" th:field="*{salary}"/>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Jefe</label>
                            <select class="form-select" th:field="*{manager}">
                                <option th:each="manager : ${listaEmployee}"
                                        th:text="|${manager.getFirstName()} ${manager.getLastName()==null?'':manager.getLastName()}|"
                                        th:value="${manager.getEmployeeId()}"></option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label  class="form-label">Departamento</label>
                            <select class="form-select" th:field="*{department}">
                                <option th:each="departamento : ${listaDepartments}"
                                        th:text="|${departamento.getDepartmentname()} |"
                                        th:value="${departamento.getId()}"></option>
                            </select>
                        </div>
                        <a th:href="@{'/employee'}" class="btn btn-danger">Cancelar</a>
                        <button type="submit" class="btn btn-primary" th:text="${employee.getEmployeeId() != 0 ? 'Actualizar' : 'Guardar'}">Registrar</button>
                    </form>
                </div>
            </div>
        </div>
        <script th:replace="fragments/navbar.html :: footer-bootstrap"></script>
    </body>
</html>